
<div class="dashboard-container">
  <div class="dashboard-row">
    <div class="dashboard-block venn-block">
      <app-venn-diagram></app-venn-diagram>
    </div>
    <div class="dashboard-block milestone-block">
      <app-milestone-cards></app-milestone-cards>
    </div>
  </div>
  <div class="dashboard-row">
    <div class="dashboard-block progress-block">
      <app-progress-bars></app-progress-bars>
    </div>
    <div class="dashboard-block completion-block">
      <app-completion-charts></app-completion-charts>
    </div>
  </div>
</div>
